@font-face{
    font-family:Pacifico;
	src:url('../src/fonts/Pacifico.ttf');
}

body { 
	font-family: 'Open Sans',arial,serif; 
	background-image: url('../src/images/carbonFiberV01.jpg')
}

#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

.login-popup{
	display:none;
	background-image: url('../src/images/carbonFiberV01.jpg');
	padding: 10px; 	
	border: 2px solid #C90909;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #C90909;
	-moz-box-shadow: 0px 0px 20px #C90909; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #C90909; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

.register-popup{
	display:none;
	background-image: url('../src/images/carbonFiberV01.jpg');
	padding: 10px; 	
	border: 2px solid #C90909;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #C90909;
	-moz-box-shadow: 0px 0px 20px #C90909; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #C90909; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close
{
	float: right;
    margin: -28px -28px 0 0;
}


.formLogo
{
	margin-bottom:15px;
}


#login
{
	margin:100px auto;
	width: 500px;
}

#loginPanel
{
	width: 500px;
	background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    -webkit-box-shadow: 5px 5px 5px 5px ;
	box-shadow: 5px 5px 5px 5px ; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#registration
{
    width: 520px;
	color: #fff;
	background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	-webkit-box-shadow: 5px 5px 5px 5px #000000;
	box-shadow: 5px 5px 5px 5px #000000;
	-webkit-border-radius: 4px;
	border-radius:4px;	
	
}

#registrationWrapper
{
    margin-left:auto;
	margin-right:auto;
	width:520px;
}

header#registerTop
{ 
    margin-bottom:10px;
}
/*#RegisterUserForm
{
	width:500px;
}*/

#registration a,#loginPanel a {
	color: #F04747;
	font-weight: bold;
	line-height:30px;
	text-shadow: 0px -1px 0px #000;
}
	  
#registration fieldset,#loginPanel fieldset
{
     padding: 20px;
 }
	  
input.text {
	border-radius: 10px;
	border:solid 1px #444;
	font-size: 14px;
	font-weight:bold;
	width: 300px;
	padding: 7px 8px 7px 30px;
	background: #ddd url('../src/images/inputSprite.png') no-repeat 4px 5px;
	color:#333;
	text-shadow:0px 1px 0px #FFF;
}	  

input#email { 
	background-position: 4px 5px; 
	background-position: 4px 5px, 0px 0px;
}

input#password { 
	background-position: 4px -20px; 
	background-position: 4px -20px, 0px 0px;
}

input#name { 
	background-position: 4px -46px; 
	background-position: 4px -46px, 0px 0px; 
}

input#tel { 
	background-position: 4px -76px; 
	background-position: 4px -76px, 0px 0px; 
}
	
#registration h2 {
	color: #fff;
	text-shadow: 0px -1px 0px #000;
	border-bottom: solid #030303 1px;
	text-align: left;
	padding: 18px;
	margin: 0px;
	font-weight: normal;
	font-size: 30px;
	font-family: Pacifico;
}

#loginPanel h2{
    color: #fff;
	text-shadow: 0px -1px 0px #000;
	border-bottom: solid #181818 1px;
    text-align: left;
	padding: 18px;
	margin: 0px;
	font-weight: normal;
	font-size: 35px;
	font-family: Pacifico;
}
	
#registerNew
{
	width: 203px;
	height: 40px;
	border: none;
	border-bottom:10px;
	text-indent: -9999px;
	background: url('../src/images/createAccountButton.png') no-repeat;
	cursor: pointer;
	float: right;
}

#registration fieldset
{
    border:1px black;
}
#loginBtn
{
    width: 100px;
	height: 40px;
	border: none;
	text-indent: -19999px;
	background: url('../src/images/Login.png') no-repeat;
	cursor: pointer;
}
	
#registerNew:hover { background-position: 0px -41px; }
#registerNew:active { background-position: 0px -82px; }
	
#registration p ,#loginPanel p{
	position: relative;
}
	  
fieldset label
{
	color: #ffffff;
	font-weight: bold;
	display:inline-block;
	width:120px;
}

fieldset #acceptTermsCell
{
	width:320px;
	font-size:12px;
}

fieldset #acceptTermsCell a
{
	color: inherit;
}

#loginTable td
{
	padding-bottom: 10px;
}

#registerTable td
{
    padding-bottom:10px;
	
}

#registerTable td textarea
{
   min-width:330px;
   max-width:330px;
   min-height:100px;
}


#loginTable .loginBtnCell 
{
	text-align: right;
}

section#loginBottom
{
	padding: 0px 10px;
}

section#loginBottom h2
{
	font-family:Pacifico;
	color:#ffffff;
	font-weight:bold;
	font-size:16pt;
	letter-spacing:5px;
}

.free
{
	color: #F04747;
}