label, img
{
	display:block;
}

@font-face
{
	font-family: handOfSean;
    src: url('../src/fonts/handsean.ttf');
}

body
{
	width:940px;
	margin: 12px auto;
	font-family: 'Open Sans',arial,serif;
	font-size:10pt;
	background-image: url('../src/images/carbonFiberV01.jpg');
	-webkit-box-shadow: 5px 5px 5px 5px ;
	box-shadow: 5px 5px 5px 5px ; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

header#top
{
	background: #e00f0f; /* Old browsers */
	background: -moz-linear-gradient(top,  #e00f0f 0%, #b20303 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e00f0f), color-stop(100%,#b20303)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e00f0f 0%,#b20303 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e00f0f 0%,#b20303 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e00f0f 0%,#b20303 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e00f0f 0%,#b20303 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e00f0f', endColorstr='#b20303',GradientType=0 ); /* IE6-9 */
	border-bottom:1px solid black;
	height: 120px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


header#top .logo
{
	float: left;
	padding-top: 30px;
	padding-left: 20px;
}

header#top .motto
{
	float: right;
	padding-top: 50px;
	padding-right: 10px;
}

nav
{
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-top: 4px;
	margin-bottom: 4px;	 
}

#sliderNews
{
	height:350px;
}

#slider
{
	height:350px;
	width:730px;
	float: left;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#newsCol
{	
	/*background-color: purple;*/
	height:350px;
	width:205px;
	float: left;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
	margin-left: 5px;
}

#newsTabTitle
{
	background-color: #484A55;
	height:30px;
	-webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}

#newsTabTitle h2
{
	-webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
	background-color: #C90909;
	line-height:30px;
	height:30px;
	width: 70px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}

#newsFeed
{
	background-color: purple;
	height:300px;
	background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	padding: 10px;
}

#newsFeed article .title
{
	color: #f04747;
	font-size: 13pt;
	line-height:20px;
	font-weight: bold;
	text-transform:capitalize;
}

#newsFeed article .date
{
	color: #b1b1b1;
	font-size: 10pt;
	line-height:20px;
	font-weight: bold;
}

article p{margin-bottom:10px;}

article a{text-decoration:none; color:red;}

#newsFeed p 
{
	color: #ffffff;
}

#contentWrapper
{
	/*background-color: blue;*/
	clear:both;
	min-height:600px;
	overflow:hidden;
}

aside
{
	background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	
	width:150px;
	min-height:580px;
	float:left;
	line-height: 30px;
	padding: 10px 20px;
}

aside ul .category
{
	text-decoration: underline;
	text-transform: uppercase;
	color: #f04747;
	font-size: 12pt;
	margin-top:10px;
}

aside ul .category:hover
{
	background-color:transparent;
}

aside ul li a
{
	text-decoration:none;
	color: #ffffff;
}

aside ul li
{
	padding:2px;
	font-weight: bold;
	color: #ffffff;
}

aside ul li:hover
{
	background-color:#f04747;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

aside ul li a:hover {color: #ffffff;}

#mainContent
{
	/*background-color: pink;*/
	width:750px;
	min-height:600px;
	float:left;
	/*background-image: url('../src/images/underConstruction.png');*/
}

#contentWrapper#mainContent
{
	width:690px;
	min-height:580px;
	float:left;
	line-height: 30px;
	margin-left: 10px;
	color: white;
}

#viewImage img
{
	width:700px;
	margin:0 auto;
	border: 1px solid #EDEDED;
}

section#titleAuthor
{
	margin-top: 10px;
	margin-left:25px;
}

section#titleAuthor h2
{
	text-align: left;
	font-size: 30pt;
	font-weight: bold;
	color: #f04747;
}

section#titleAuthor h3
{
	text-align: left;
	font-family: handOfSean;
	letter-spacing: 2px;
	font-size: 20pt;
	font-weight: bold;
	color: #ffffff;
	margin-top: 10px;
}

#newComment {margin-top:40px;}

#newComment form
{
	float:left;
	margin-left: 10px;
}

#avatarImg
{
	float:left;
	width: 85px;
	height: 85px;
	border:2px dotted #ffffff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-left: 25px;
}

#postNewComment label
{
	color:#EDEDED;
	font-size:12pt;
	font-weight: bold;
}

.commentSubfield
{
	width:600px;
	height:60px;
	resize: none;
	margin-top:5px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 2px solid #C90909;
	background-color:#FFE8E8;
}

#newComment .formButton
{
	float:right;
	width:60px;
	height:30px;
	color: #ffffff;
	font-weight: bold;
	padding:5px;
	margin-right:5px;
	margin-top:5px;
	background:#666666;
	border:2px solid #f6f6f6;
	cursor: pointer;
}

#newComment .formButton:hover
{
    background-color:#f04747;
}

/*--CONTACT US--*/

#contactUs
{
	margin-left:175px;
}

#contactUs header h2
{
	text-align: left;
	font-size: 26.25pt;
	font-weight: bold;
	margin-top: 10px;
	color: #f04747;
}

#contactUsForm label 
{
    margin-top:25px;
    letter-spacing:1px;
	font-weight: bold;
	color: #ffffff
}

#contactUs form 
{
    width:420px;
}
#contactUsForm input, #contactUsForm textarea 
{
	font-size:10pt;
	width:400px;
	height:30px;
	background:#666666;
	border:2px solid #f6f6f6;
	padding:5px;
	margin-top:5px;
	color:#ffffff;
	font-family: 'Open Sans',arial,serif;
}
#contactUsForm textarea 
{
	min-height:250px;
	min-width: 400px;
	max-width: 400px;
}
#contactUsForm .formButton 
{
    width:85px;
    height:35px;
    margin-top:20px;
	margin-right: 5px;
    cursor:pointer;
}
#contactUsForm .formButton:hover
{
    background-color:#f04747;
}
/*--END CONTACT US--*/

#galleryTable
{
	margin:0px auto;
}

#galleryTable td
{
	padding-top:10px;
	padding-right:10px;
}

#galleryTable .first
{
	padding-left:10px;
}

#galleryTable img
{
	width:230px;
	border:2px solid #ffffff;
	-webkit-box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}


aside, #mainContent
{
    padding-bottom:2000px;
    margin-bottom:-2000px;
}

#footerArea
{
	content:"";
	clear:both;
	height:250px;
	padding: 20px 35px;
	margin: 0px auto;
}

.footerContent
{
	padding: 10px 0;
	border-top: 1px dotted #6e6e6e;
}

.footerContent section#links
{
	float:left;
	height:200px;
	width:635px;
}

.footerContent section#social
{
	float:left;
	height:200px;
	width:165px;
	padding: 0 20px;
}

.footerContent section#social table
{
	margin-top: 50px;
}

.footerContent section#social .tableHeader
{
	color: #F04747;
	font-weight: bold;
	font-size: 14pt;
}

footer
{
	clear: both;
	height: 50px;
	padding: 10px 0;
	border-top: 1px dotted #6e6e6e;
	line-height: 35px;
	color: #ffffff;
}

/*---------*/

header#userName
{
	font-weight: bold;
	font-size: 16pt;
	padding: 10px;
	background-color: #000000;
	color: #ffffff;
}

#viewEditLinks
{
	height: 30px;
	background-color: #F0474A;
	padding-left:10px;
}

#viewEditLinks ul li
{
	display:inline;
	list-style-type:none;
	line-height:30px;
	padding-right: 5px;
	font-weight: bold;
}

#viewEditLinks ul a
{
	text-decoration: none;
	color:#ffffff;
}

#viewEditLinks ul li:first-child
{
	border-right:1px solid black;
	padding-right: 5px;
}

#profileHeader
{
	background-color:#ffffff;
	height: 170px;
	border-bottom:3px solid #999;
}

#avatar, #locationFocus
{
	margin-top: 15px;
	padding: 0 5px 0 10px;
}

#avatar
{
	float: left;
	padding-left:25px;
	width:160px;
	border-right: 1px solid #000000;
}

.listHeader
{
	font-weight:bold;
	line-height:30px;
}

#locationFocus
{
	float: left;
	width:300px;
	border: none;
}

#userStats
{
	float: right;
	width:200px;
	margin-top: 15px;
	padding: 0 20px 0 10px;
}

.userStatsLi .statsResults
{
	float:right;
	text-align:center;
	line-height:30px;
	font-weight: bold;
	color: #DE0E0E;
}

#pfofileBottom
{
	clear: both;
}

aside#userSidebarLinks
{
	min-height: 500px;
}

#userContent
{
	min-height: 500px;
}

#userSidebarLinks{ width: 190px; }
  .single-menu-item .ui-icon {display: none !important;}
  .single-menu-container {display: none !important;}
  .ui-accordion .ui-accordion-content{padding:5px !important;}
  
/* start upload page */
#zero{
background-color: white;
margin-left: 20px;
margin-top: 15px;
height: 600px;
width: 710px;
border: 1px solid red;

}
#one{
background-color: white;
margin-left: 10px;
margin-top: 15px;
height: 200px;
width: 685px;
border: 1px solid red;
}
#one input {
margin-left: 200px;
margin-top: 80px;
}
#two{
margin-left: 10px;
background-color: white;
margin-top: 20px;
height: 30px;
width: 685px;
border: 1px solid red;

}
#two label {
margin-left: 220px;
margin-top: 5px;
}


#three textarea 
{	margin-left:10px;
	min-height:150px;
	min-width: 687px;
	max-width: 400px;
	border: 1px solid red;
}
#four p { 
font-weight: bold;
padding: 10px;
margin-top: 15px;
}
#four select{
margin-left: 20px;
}
#five input{
padding: 10px;
margin-left: 250px;
margin-top: 30px;
font-size: 25px;
font-weight: bold;
}


/* end of upload page  */

